Find the cheapest flight everyday between 2 dateranges

In [295]:
import requests
import pandas as pd
import json

In [356]:
import requests

url = "https://partners.api.skyscanner.net/apiservices/v3/flights/indicative/search"

payload = { "query": {
        "market": "UK",
        "locale": "en-GB",
        "currency": "EUR",
        "queryLegs": [
            {
                "originPlace": { "queryPlace": { "iata": "LIS" } },
                "destinationPlace": { "queryPlace": { "iata": "LTN" } },
                 "fixedDate": {
            "year": 2023,
            "month": 11,
            "day": 17
        }
            }
        ]
    } }
headers = {
    "x-api-key": "prtl6749387986743898559646983194"
}

response = requests.post(url, json=payload, headers=headers)

print(response.json())

{'status': 'RESULT_STATUS_COMPLETE', 'content': {'results': {'quotes': {'{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9': {'minPrice': {'amount': '26', 'unit': 'PRICE_UNIT_WHOLE', 'updateStatus': 'PRICE_UPDATE_STATUS_UNSPECIFIED'}, 'isDirect': True, 'outboundLeg': {'originPlaceId': '95565055', 'destinationPlaceId': '95565053', 'departureDateTime': {'year': 2023, 'month': 11, 'day': 17, 'hour': 0, 'minute': 0, 'second': 0}, 'quoteCreationTimestamp': '1685187300', 'marketingCarrierId': '-30972'}, 'inboundLeg': {'originPlaceId': '', 'destinationPlaceId': '', 'departureDateTime': {'year': 0, 'month': 0, 'day': 0, 'hour': 0, 'minute': 0, 'second': 0}, 'quoteCreationTimestamp': '0', 'marketingCarrierId': ''}}}, 'carriers': {'-30972': {'name': 'Wizz Air UK', 'imageUrl': 'https://logos.skyscnr.com/images/airlines/W9.png', 'iata': 'W9'}}, 'places': {'27544008': {'entityId': '27544008', 'parentId': '29475375', 'name': 'London', 'type': 'PLACE_TYPE_CITY', 'iata': 'LON', 'coordinates': {'latitude': 51.5041174139, 'longitude': -0.0943465343}}, '27544072': {'entityId': '27544072', 'parentId': '29475349', 'name': 'Lisbon', 'type': 'PLACE_TYPE_CITY', 'iata': 'LIS', 'coordinates': {'latitude': 38.742684229304615, 'longitude': -9.156132030701956}}, '27563221': {'entityId': '27563221', 'parentId': '', 'name': 'Europe', 'type': 'PLACE_TYPE_CONTINENT', 'iata': '', 'coordinates': {'latitude': 55.280210962380146, 'longitude': 29.382113552883705}}, '29475349': {'entityId': '29475349', 'parentId': '27563221', 'name': 'Portugal', 'type': 'PLACE_TYPE_COUNTRY', 'iata': '', 'coordinates': {'latitude': 39.5589102406, 'longitude': -8.6203657658}}, '29475375': {'entityId': '29475375', 'parentId': '27563221', 'name': 'United Kingdom', 'type': 'PLACE_TYPE_COUNTRY', 'iata': '', 'coordinates': {'latitude': 54.2532367516, 'longitude': -2.9767221462}}, '95565053': {'entityId': '95565053', 'parentId': '27544008', 'name': 'London Luton', 'type': 'PLACE_TYPE_AIRPORT', 'iata': 'LTN', 'coordinates': {'latitude': 51.878704, 'longitude': -0.375705}}, '95565055': {'entityId': '95565055', 'parentId': '27544072', 'name': 'Lisbon', 'type': 'PLACE_TYPE_AIRPORT', 'iata': 'LIS', 'coordinates': {'latitude': 38.7755769, 'longitude': -9.1353882}}}}, 'groupingOptions': {'byRoute': {'quotesGroups': [{'originPlaceId': '95565055', 'destinationPlaceId': '95565053', 'quoteIds': ['{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9']}]}, 'byDate': {'quotesInboundGroups': [], 'quotesOutboundGroups': [{'monthYearDate': {'year': 2023, 'month': 11, 'day': 17}, 'quoteIds': ['{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9']}]}}}}

In [351]:
url = "https://partners.api.skyscanner.net/apiservices/v3/flights/indicative/search'"

payload = { "query": {
		"market": "UK",
		"locale": "en-GB",
		"currency": "EUR",
		"queryLegs": [
			{
				"originPlace": { "queryPlace": { "iata": "LIS" } },
				"destinationPlace": { "queryPlace": { "iata": "LTN" } },
				"fixedDate": {
                    "year": 2023,
                    "month": 1,
                    "day": 24
        }
			}
		]
	} }
headers = {
	"x-api-key": "prtl6749387986743898559646983194"
    
}

response = requests.post(url, json=payload, headers=headers)

print(response.json())

{'code': 5, 'message': 'Not Found', 'details': []}

In [357]:
payload

{'query': {'market': 'UK',
  'locale': 'en-GB',
  'currency': 'EUR',
  'queryLegs': [{'originPlace': {'queryPlace': {'iata': 'LIS'}},
    'destinationPlace': {'queryPlace': {'iata': 'LTN'}},
    'fixedDate': {'year': 2023, 'month': 11, 'day': 17}}]}}

In [358]:
response.json()

{'status': 'RESULT_STATUS_COMPLETE',
 'content': {'results': {'quotes': {'{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9': {'minPrice': {'amount': '26',
      'unit': 'PRICE_UNIT_WHOLE',
      'updateStatus': 'PRICE_UPDATE_STATUS_UNSPECIFIED'},
     'isDirect': True,
     'outboundLeg': {'originPlaceId': '95565055',
      'destinationPlaceId': '95565053',
      'departureDateTime': {'year': 2023,
       'month': 11,
       'day': 17,
       'hour': 0,
       'minute': 0,
       'second': 0},
      'quoteCreationTimestamp': '1685187300',
      'marketingCarrierId': '-30972'},
     'inboundLeg': {'originPlaceId': '',
      'destinationPlaceId': '',
      'departureDateTime': {'year': 0,
       'month': 0,
       'day': 0,
       'hour': 0,
       'minute': 0,
       'second': 0},
      'quoteCreationTimestamp': '0',
      'marketingCarrierId': ''}}},
   'carriers': {'-30972': {'name': 'Wizz Air UK',
     'imageUrl': 'https://logos.skyscnr.com/images/airlines/W9.png',
     'iata': 'W9'}},
   'places': {'27544008': {'entityId': '27544008',
     'parentId': '29475375',
     'name': 'London',
     'type': 'PLACE_TYPE_CITY',
     'iata': 'LON',
     'coordinates': {'latitude': 51.5041174139, 'longitude': -0.0943465343}},
    '27544072': {'entityId': '27544072',
     'parentId': '29475349',
     'name': 'Lisbon',
     'type': 'PLACE_TYPE_CITY',
     'iata': 'LIS',
     'coordinates': {'latitude': 38.742684229304615,
      'longitude': -9.156132030701956}},
    '27563221': {'entityId': '27563221',
     'parentId': '',
     'name': 'Europe',
     'type': 'PLACE_TYPE_CONTINENT',
     'iata': '',
     'coordinates': {'latitude': 55.280210962380146,
      'longitude': 29.382113552883705}},
    '29475349': {'entityId': '29475349',
     'parentId': '27563221',
     'name': 'Portugal',
     'type': 'PLACE_TYPE_COUNTRY',
     'iata': '',
     'coordinates': {'latitude': 39.5589102406, 'longitude': -8.6203657658}},
    '29475375': {'entityId': '29475375',
     'parentId': '27563221',
     'name': 'United Kingdom',
     'type': 'PLACE_TYPE_COUNTRY',
     'iata': '',
     'coordinates': {'latitude': 54.2532367516, 'longitude': -2.9767221462}},
    '95565053': {'entityId': '95565053',
     'parentId': '27544008',
     'name': 'London Luton',
     'type': 'PLACE_TYPE_AIRPORT',
     'iata': 'LTN',
     'coordinates': {'latitude': 51.878704, 'longitude': -0.375705}},
    '95565055': {'entityId': '95565055',
     'parentId': '27544072',
     'name': 'Lisbon',
     'type': 'PLACE_TYPE_AIRPORT',
     'iata': 'LIS',
     'coordinates': {'latitude': 38.7755769, 'longitude': -9.1353882}}}},
  'groupingOptions': {'byRoute': {'quotesGroups': [{'originPlaceId': '95565055',
      'destinationPlaceId': '95565053',
      'quoteIds': ['{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9']}]},
   'byDate': {'quotesInboundGroups': [],
    'quotesOutboundGroups': [{'monthYearDate': {'year': 2023,
       'month': 11,
       'day': 17},
      'quoteIds': ['{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9']}]}}}}

In [359]:
df = response.json()
df

{'status': 'RESULT_STATUS_COMPLETE',
 'content': {'results': {'quotes': {'{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9': {'minPrice': {'amount': '26',
      'unit': 'PRICE_UNIT_WHOLE',
      'updateStatus': 'PRICE_UPDATE_STATUS_UNSPECIFIED'},
     'isDirect': True,
     'outboundLeg': {'originPlaceId': '95565055',
      'destinationPlaceId': '95565053',
      'departureDateTime': {'year': 2023,
       'month': 11,
       'day': 17,
       'hour': 0,
       'minute': 0,
       'second': 0},
      'quoteCreationTimestamp': '1685187300',
      'marketingCarrierId': '-30972'},
     'inboundLeg': {'originPlaceId': '',
      'destinationPlaceId': '',
      'departureDateTime': {'year': 0,
       'month': 0,
       'day': 0,
       'hour': 0,
       'minute': 0,
       'second': 0},
      'quoteCreationTimestamp': '0',
      'marketingCarrierId': ''}}},
   'carriers': {'-30972': {'name': 'Wizz Air UK',
     'imageUrl': 'https://logos.skyscnr.com/images/airlines/W9.png',
     'iata': 'W9'}},
   'places': {'27544008': {'entityId': '27544008',
     'parentId': '29475375',
     'name': 'London',
     'type': 'PLACE_TYPE_CITY',
     'iata': 'LON',
     'coordinates': {'latitude': 51.5041174139, 'longitude': -0.0943465343}},
    '27544072': {'entityId': '27544072',
     'parentId': '29475349',
     'name': 'Lisbon',
     'type': 'PLACE_TYPE_CITY',
     'iata': 'LIS',
     'coordinates': {'latitude': 38.742684229304615,
      'longitude': -9.156132030701956}},
    '27563221': {'entityId': '27563221',
     'parentId': '',
     'name': 'Europe',
     'type': 'PLACE_TYPE_CONTINENT',
     'iata': '',
     'coordinates': {'latitude': 55.280210962380146,
      'longitude': 29.382113552883705}},
    '29475349': {'entityId': '29475349',
     'parentId': '27563221',
     'name': 'Portugal',
     'type': 'PLACE_TYPE_COUNTRY',
     'iata': '',
     'coordinates': {'latitude': 39.5589102406, 'longitude': -8.6203657658}},
    '29475375': {'entityId': '29475375',
     'parentId': '27563221',
     'name': 'United Kingdom',
     'type': 'PLACE_TYPE_COUNTRY',
     'iata': '',
     'coordinates': {'latitude': 54.2532367516, 'longitude': -2.9767221462}},
    '95565053': {'entityId': '95565053',
     'parentId': '27544008',
     'name': 'London Luton',
     'type': 'PLACE_TYPE_AIRPORT',
     'iata': 'LTN',
     'coordinates': {'latitude': 51.878704, 'longitude': -0.375705}},
    '95565055': {'entityId': '95565055',
     'parentId': '27544072',
     'name': 'Lisbon',
     'type': 'PLACE_TYPE_AIRPORT',
     'iata': 'LIS',
     'coordinates': {'latitude': 38.7755769, 'longitude': -9.1353882}}}},
  'groupingOptions': {'byRoute': {'quotesGroups': [{'originPlaceId': '95565055',
      'destinationPlaceId': '95565053',
      'quoteIds': ['{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9']}]},
   'byDate': {'quotesInboundGroups': [],
    'quotesOutboundGroups': [{'monthYearDate': {'year': 2023,
       'month': 11,
       'day': 17},
      'quoteIds': ['{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9']}]}}}}

In [360]:
df['content']['results']['quotes']

{'{bl}:202305271135*D*LIS*LTN*20231117*ctuk*W9': {'minPrice': {'amount': '26',
   'unit': 'PRICE_UNIT_WHOLE',
   'updateStatus': 'PRICE_UPDATE_STATUS_UNSPECIFIED'},
  'isDirect': True,
  'outboundLeg': {'originPlaceId': '95565055',
   'destinationPlaceId': '95565053',
   'departureDateTime': {'year': 2023,
    'month': 11,
    'day': 17,
    'hour': 0,
    'minute': 0,
    'second': 0},
   'quoteCreationTimestamp': '1685187300',
   'marketingCarrierId': '-30972'},
  'inboundLeg': {'originPlaceId': '',
   'destinationPlaceId': '',
   'departureDateTime': {'year': 0,
    'month': 0,
    'day': 0,
    'hour': 0,
    'minute': 0,
    'second': 0},
   'quoteCreationTimestamp': '0',
   'marketingCarrierId': ''}}}

In [361]:
quotes = df['content']['results']['quotes']

In [362]:
quotes_df = pd.json_normalize(quotes)

In [363]:
quotes_df. columns =[col.split(".")[-1] for col in quotes_df.columns]
quotes_df

,amount,unit,updateStatus,isDirect,originPlaceId,destinationPlaceId,year,month,day,hour,...,originPlaceId,destinationPlaceId,year,month,day,hour,minute,second,quoteCreationTimestamp,marketingCarrierId
0,26,PRICE_UNIT_WHOLE,PRICE_UPDATE_STATUS_UNSPECIFIED,True,95565055,95565053,2023,11,17,0,...,,,0,0,0,0,0,0,0,

In [364]:
def flatten_dict(dd, separator='_', prefix=''):
    return {f"{prefix}{separator}{k}" if prefix else k: v
            for kk, vv in dd.items()
            for k, v in (flatten_dict(vv, separator, kk).items() if isinstance(vv, dict) else {kk: vv}.items())}

In [365]:
flattened_results = [flatten_dict(result) for result in quotes.values()]

In [366]:
quote_df = pd.DataFrame.from_records(flattened_results)
quote_df

,minPrice_amount,minPrice_unit,minPrice_updateStatus,isDirect,outboundLeg_originPlaceId,outboundLeg_destinationPlaceId,outboundLeg_departureDateTime_year,outboundLeg_departureDateTime_month,outboundLeg_departureDateTime_day,outboundLeg_departureDateTime_hour,...,inboundLeg_originPlaceId,inboundLeg_destinationPlaceId,inboundLeg_departureDateTime_year,inboundLeg_departureDateTime_month,inboundLeg_departureDateTime_day,inboundLeg_departureDateTime_hour,inboundLeg_departureDateTime_minute,inboundLeg_departureDateTime_second,inboundLeg_quoteCreationTimestamp,inboundLeg_marketingCarrierId
0,26,PRICE_UNIT_WHOLE,PRICE_UPDATE_STATUS_UNSPECIFIED,True,95565055,95565053,2023,11,17,0,...,,,0,0,0,0,0,0,0,

In [373]:
def flight_days(start_date,end_date):
        url = "https://partners.api.skyscanner.net/apiservices/v3/flights/indicative/search"
        all_quotes = []
        date_range = pd.date_range(start=start_date, end=end_date, freq='D')
        
        for date in date_range:
            year = date.year
            month = int(date.month)
            day = int(date.day)
            payload = { "query": {
                    "market": "UK",
                    "locale": "en-GB",
                    "currency": "EUR",
                    "queryLegs": [
                        {
                            "originPlace": { "queryPlace": { "iata": "LIS" } },
                            "destinationPlace": { "queryPlace": { "iata": "LTN" } },
                            "fixedDate": {
                                "year": year,
                                "month": month,
                                "day": day
                                
                    }
                        }
                    ]
                } }
            headers = {
            "x-api-key": "prtl6749387986743898559646983194"
            }
            response = requests.post(url, json=payload, headers=headers)
            
            df = response.json()
            print('all good')
            quotes_df = df['content']['results']['quotes']
            quotes_df = pd.json_normalize(quotes)
            quotes_df.columns =[col.split(".")[-1] for col in quotes_df.columns] 
            flattened_results = [flatten_dict(result) for result in quotes.values()]
            quote_df = pd.DataFrame.from_records(flattened_results)
            all_quotes.append(quote_df)
        
        return pd.concat(all_quotes)

In [375]:
flight_dates = flight_days('7/6/2023', '7/7/2023')
flight_dates

all good
all good

,minPrice_amount,minPrice_unit,minPrice_updateStatus,isDirect,outboundLeg_originPlaceId,outboundLeg_destinationPlaceId,outboundLeg_departureDateTime_year,outboundLeg_departureDateTime_month,outboundLeg_departureDateTime_day,outboundLeg_departureDateTime_hour,...,inboundLeg_originPlaceId,inboundLeg_destinationPlaceId,inboundLeg_departureDateTime_year,inboundLeg_departureDateTime_month,inboundLeg_departureDateTime_day,inboundLeg_departureDateTime_hour,inboundLeg_departureDateTime_minute,inboundLeg_departureDateTime_second,inboundLeg_quoteCreationTimestamp,inboundLeg_marketingCarrierId
0,26,PRICE_UNIT_WHOLE,PRICE_UPDATE_STATUS_UNSPECIFIED,True,95565055,95565053,2023,11,17,0,...,,,0,0,0,0,0,0,0,
0,26,PRICE_UNIT_WHOLE,PRICE_UPDATE_STATUS_UNSPECIFIED,True,95565055,95565053,2023,11,17,0,...,,,0,0,0,0,0,0,0,

In [ ]:
flight_dates = flight_days('06/07/2023', '08/07/2023')
print(flight_dates)